<%= bootstrap_form_for(@rtb_standard,layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <% if @rtb_standard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rtb_standard.errors.count, "error") %> prohibited this rule from being saved:</h2
      <ul>
      <% @rtb_standard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.text_field :name, label: "Rule Name" , class: "input-sm" ,readonly: true%>
  <%= f.text_field :id, label: "Rule ID" , class: "input-sm", readonly: true %>
  <%= f.text_area :description, label: "Description" , class: "input-sm" ,readonly: true%>

  <%= f.text_field :rtbspecification, class: "input-sm" ,readonly: true%>
  <%= f.text_field :operator, class: "input-sm" ,readonly: true%>
  <%= f.text_field :operand, class: 'input-sm' ,readonly: true%>
  <%= f.text_field :operand_type, class: 'input-sm',readonly: true %>
  <%= f.text_field :operand_ordinal, class: 'input-sm',readonly: true %>
  <div class="form-group"><label class="control-label col-sm-2" for="user_admin">RTB Required</label>
    <div class="col-sm-10">
        <%= f.check_box :rtb_required, label: "" , disabled: true %>
    </div>
  </div>  
  
<% end %>