
    <div class="col-md-12">
        <h5><%=label%></h5>
        <div class="row mtl">
         <div id="sum_box" class="row mbl">             
            <div class="col-sm-6 col-md-3">
                <div class="panel profit db mbm panel-green">
                    <div class="panel-body">
                        <p class="icon">
                            <i class="icon fa fa-check-square-o"></i>
                        </p>
                        <h4 class="value">
                            <span><%=values.clicks%></span><span></span></h4>
                        <p class="description">
                            Total Clicks</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel income db mbm panel-yellow">
                    <div class="panel-body">
                        <p class="icon">
                            <i class="icon fa fa-external-link"></i>
                        </p>
                        <h4 class="value">
                            <span><%=values.pixels%></span><span></span></h4>
                        <p class="description">
                            Total Pixels</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel task db mbm  panel-violet">
                    <div class="panel-body">
                        <p class="icon">
                            <i class="icon fa fa-trophy"></i>
                        </p>
                        <h4 class="value">
                            <span><%=values.wins%></span></h4>
                        <p class="description">
                            Total Wins</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel visit db mbm panel-pink">
                    <div class="panel-body">
                        <p class="icon">
                            <i class="icon fa fa-legal"></i>
                        </p>
                        <h4 class="value">
                            <span><%=values.bids%></span></h4>
                        <p class="description">
                           Total Bids</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>